OnPlannerTaskCompletedPostToTeams/OnPlannerTaskCompletedPostToTeams.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"teams_Connection_Name":{"defaultValue":"teams","type":"String","metadata":{"description":"Name of the connection."}},"office365users_1_Connection_Name":{"defaultValue":"office365users_1","type":"String","metadata":{"description":"Name of the connection."}},"planner_Connection_Name":{"defaultValue":"planner","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_task_is_completed":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnCompleteTask_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['planner']['connectionId']"}},"method":"get","path":"/v1.0/planner/oncompletetask_trigger/plans/@{encodeURIComponent('_g7j6jF_10Wn6e6EtCIYs5YAACQj')}/tasks","authentication":"@parameters('$authentication')"}}},"actions":{"Post_message":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostMessageToChannel"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"rootMessage":{"body":{"content":"\"@{body('Parse_JSON')?['title']}\" completed by @{body('Get_user_profile_(V2)')?['givenName']} @{body('Get_user_profile_(V2)')?['surname']}  https://tasks.office.com/ssatuk.co.uk/en/Home/Task/@{variables('TaskId')}","contentType":1}}},"path":"/beta/groups/@{encodeURIComponent('67736023-d9aa-49f4-b6b6-2faaca7a9ba6')}/channels/@{encodeURIComponent('7e775374-ec5b-459e-a83d-a6b221a8cfb6')}/chatThreads","authentication":"@parameters('$authentication')"}},"Parse_JSON":{"runAfter":{"Initialize_CreatedById":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@triggerBody()","schema":{"type":"object","properties":{"@@odata.etag":{"type":"string"},"createdBy":{"type":"object","properties":{"user":{"type":"object","properties":{"displayName":{},"id":{"type":"string"}}}}},"planId":{"type":"string"},"bucketId":{"type":"string"},"title":{"type":"string"},"orderHint":{"type":"string"},"assigneePriority":{"type":"string"},"percentComplete":{"type":"number"},"startDateTime":{},"createdDateTime":{"type":"string"},"dueDateTime":{"type":"string"},"hasDescription":{"type":"boolean"},"previewType":{"type":"string"},"completedDateTime":{"type":"string"},"completedBy":{"type":"object","properties":{"user":{"type":"object","properties":{"displayName":{},"id":{"type":"string"}}}}},"referenceCount":{"type":"number"},"checklistItemCount":{"type":"number"},"activeChecklistItemCount":{"type":"number"},"appliedCategories":{"type":"object","properties":{}},"assignments":{"type":"object","properties":{}},"conversationThreadId":{},"id":{"type":"string"}}}}},"Initialize_TaskId":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TaskId","type":"String","value":"@triggerBody()?['id']"}]}},"Initialize_CompletedById":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CompletedById","type":"String","value":"@body('Parse_JSON')?['completedBy']?['user']?['id']"}]}},"Initialize_CreatedById":{"runAfter":{"Initialize_TaskId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CreatedById","type":"String","value":"@triggerBody()?['createdBy']?['user']?['id']"}]}},"Get_user_profile_(V2)":{"runAfter":{"Initialize_CompletedById":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365users_1']['connectionId']"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(variables('CompletedById'))}","authentication":"@parameters('$authentication')"}}},"outputs":{}},"parameters":{"$connections":{"value":{"teams":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","connectionName":"[parameters('teams_Connection_Name')]"},"office365users_1":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users_1')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365users_1_Connection_Name'))]","connectionName":"[parameters('office365users_1_Connection_Name')]"},"planner":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'planner')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('planner_Connection_Name'))]","connectionName":"[parameters('planner_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":100000}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365users_1_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('planner_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('teams_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"},"displayName":"[parameters('teams_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('office365users_1_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users_1')]"},"displayName":"[parameters('office365users_1_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('planner_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'planner')]"},"displayName":"[parameters('planner_Connection_Name')]"}}]}